<!-- Gallery for guests -->
<%- include('../includes/head.ejs') %>
<title>Gallery | Camagru</title>
</head>
<body>
<h1 class="mt-4">Camagru Gallery</h1>
<%- include('../includes/guest-navbar.ejs') %>

<main>
<% if (images.length) { %>
<% for (let image of images.reverse()) { %>
<div>
    <img src="<%= image.image %>" alt="">
    <p>Likes:</p> <span class="badge badge-secondary"><%= image.likes%></span>
    <p><%= image.userID.name %></p>
</div>
</br>
<% } %>

<% } else { %>
<div>
    <h1>No photos to display</h1>
</div>
<% } %>
</main>

<%- include('../includes/end.ejs') %>