<%- include('../includes/head.ejs') %>
<title>Camagru</title>
</head>
<body>

<h1 class="mt-4">My Account - Update Details</h1>
<%- include('../includes/navbar.ejs') %>
</br>
<form action="/users/my-account" method="POST">
    <div class="form-group">
        <label for="name">Confirm your email to update details:</label>
        <input type="email" id="oldEmail" name="oldEmail" class="form-control" placeholder="Enter Email" value="<%= typeof name != 'undefined' ? name : '' %>" />
        <!-- value = if typeof name is not undefined, display name variable, else blank -->
    </div>
    <br>
    <div class="form-group">
        <label for="name" >Current Username: <%= userName %></label>
        <input type="name" id="name" name="newName" class="form-control" placeholder="Enter New Username" 
        value="<%= typeof name != 'undefined' ? name : '' %>" />
        <!-- value = if typeof name is not undefined, display name variable, else blank -->
    </div>
    <div class="form-group">
        <label for="password">Update Password</label>
        <input type="password" id="password" name="newPassword" class="form-control" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
    </div>
    <div class="form-group">
        <label for="email">Update Email:</label>
        <input 
        type="email" 
        id="email" 
        name="newEmail" 
        class="form-control" 
        placeholder="Enter Email" 
        alue="<%= typeof newEmail != 'undefined' ? newEmail : '' %>" />
    </div>
<!-- Choose email notifications for comments : select yes or no -->
    <div class="form-group">
        <div class="form-check">
            <label> Would you like to receive notifications via email of comments?</label>
        </br>
              <input type="radio" class="form-check-input" name="emailNotifications" id="optionsRadios1" value="true" checked="">
              <label>Yes</label>
            <!-- </label> -->
          </div>
          <div class="form-check">
          <!-- <label class="form-check-label"> -->
              <input type="radio" class="form-check-input" name="emailNotifications" id="optionsRadios2" value="false">
             <label>No </label> 
            <!-- </label> -->
          </div>
    </div>        

    <button type="submit" class="btn btn-primary btn-block">
        Update
    </button>
</form>
<!-- ACTION NEEDED - User delete account -->
</br>
<form action="/delete-account"> 
        <button type="submit" class="btn btn-danger">
                Delete Account
            </button>
</form>
</br>

<%- include('../includes/end.ejs') %>