<!-- Gallery for guests -->
<%- include('../includes/head.ejs') %>
<title>My Images | Camagru</title>
</head>
<body>

<h1 class="mt-4">My Images</h1>
<%- include('../includes/navbar.ejs') %>

<main>
        <% if (images.length > 0) { %>
                <% for (let image of images.reverse()) { %>
                        <!-- Div below is to display the image -->
                        <div >
                            <img src="<%= image.image %>" alt="">
                        </div>
                        <!-- Div below is for deleting images -->
                        <div>
                            <form action="/users/delete-image" method="POST">
                                <input type="hidden" value="<%= image._id %>" name="imageID">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    <% } %>
            <% } else { %>
                <div>
                  <h1>No photos to display</h1>
                </div>
                <% } %>
    </main>

<%- include('../includes/end.ejs') %>